swagger: '2.0'
info:
  description: This is an API to support sunglasses.io.
  version: 1.0.0
  title: Sunglasses Store
  contact:
    email: sunglassesarecool@sunglasses.io
host: sunglasses.io
basePath: /api
schemes:
  - http
produces:
  - application/json
consumes:
  - application/json
paths:
  '/brands':
    get:
      tags:
        - Brands
      summary: Get a list of all brands in the store.
      description: 'returns an array of all brands in the store'
      operationId: getBrands
      responses:
        '200':
          description: An array of brands
          schema:
            type: array
            items:
              $ref: '#/definitions/Brand'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/brands/{id}/products':  
    get:
      tags:
        - Brands
      summary: Get a list of all products by brand.
      description: 'Returns an array of all products in the store in a specific brand.'
      operationId: getProductsByBrand
      parameters:
        - name: id
          in: path
          description: The id of the brand to display products from
          required: true
          type: string
      responses:
        '200':
          description: An array of products by brand
          schema:
            type: array
            items:
              $ref: '#/definitions/Product'
        '404':
          description: Brand not found or no products in that brand.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/products':  
    get:
      tags:
        - Products
      summary: Get a list of all products.
      description: Returns all products in the store. Can be limited by a query string. 
      operationId: getProducts
      parameters:
        - name: search
          in: query
          description: A query string to match against the product name or description.
          required: false
          type: string
      responses:
        '200':
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/Product'
        '404':
          description: No products found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/login':  
     post:
      tags:
        - Login
      summary: Login a user.
      description: 'Takes the user information and authenticates them.'
      operationId: loginUser
      parameters:
        - in: body
          name: login
          required: true
          description: The username and password of the user logging in.
          schema:
            type: object
            required:
              - username
              - password
            properties:
              username:
                type: string
              password:
                type: string
      responses:
        '200':
          description: successful operation - returns an access token
          schema:
            type: object
            properties:
              username:
                type: string
                description: Username of user associated with this login request
              lastUpdated:  
                type: string
                description: Represents the last time that this user submitted their login info and refreshed their access token
              token: 
                type: string
                description: Access token to be sent in the headers of subsequent requests by this user to access protected routes 
        '400':
          description: Username and password must both be supplied.
        '401': 
          description: Either username or password is invalid.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'        
  '/me/cart':  
    get:
      tags:
        - Cart
      summary: Get current items in logged in user's cart.
      description: 'Returns an array of all of the products currently in the user cart, along with their quantities. Requires authentication via a valid access token in the headers: {x-authentication: "16charactertoken"}'
      operationId: getCartItems
      responses:
        '200':
          description: An array of products in the user's cart.
          schema:
            type: array
            items:
              $ref: '#/definitions/Product'
        '401':
          description: 'Unable to access with current authentication - must log in again' 
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'        
    post:
      tags:
        - Cart
      summary: Adds a new item to the user's cart.
      description: 'Adds a new item to the user cart. Requires authentication via a valid access token in the headers: {x-authentication: "16charactertoken"}'
      operationId: addCartItem
      parameters:
        - in: body
          name: productId
          required: true
          description: The productId of the product that the user wants to add to the cart.
          schema:
            type: object
            required:
              - productId
            properties:
              productId:
                type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: string
        '401':
          description: 'Unable to access with current authentication - must log in' 
        '404':
          description: Product id not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'        
  '/me/cart/{cartId}':
    delete:
      tags:
        - Cart
      summary: Delete an item from the user's cart.
      description: 'Delete the selected item from the user cart. Requires authentication via a valid access token in the headers: {x-authentication: "16charactertoken"}'
      operationId: deleteCartItem
      parameters:
        - name: cartId
          in: path
          description: The cart id of the product that the user wants to delete.
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: string
        '401':
          description: 'Unable to access with current authentication - must log in again' 
        '404': 
          description: Cart id not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'        
    post:
      tags:
        - Cart
      summary: Update an item quantity in the user's cart.
      description: 'Update the item quantity in the user cart. Requires authentication via a valid access token in the headers: {x-authentication: "16charactertoken"}'
      operationId: updateCartItem
      parameters:
        - name: cartId
          in: path
          description: The cart id of the product that the user wants to update.
          required: true
          type: string
        - in: body
          name: quantity increase
          required: true
          description: The amount to increase the product's quantity by
          schema:
            type: object
            required:
              - quantityIncrease
            properties:
              quantityIncrease:
                type: number
                format: int32
      responses:
        '200':
          description: successful operation
          schema:
            type: string
        '400': 
          description: 'Bad request, unable to process without a product ID and valid quantity increase being provided'
        '401':
          description: 'Unable to access with current authentication - must log in again' 
        '404':
          description: Product id not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'        
definitions:
  Product:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier for a product.
      brandId:
        type: string
        description: The id of the brand this product belongs to.
      description:
        type: string
        description: Description of product.
      name:
        type: string
        description: The name of the product
      price:
        type: integer
        format: int32
        description: Price of the product.
      imageURL:
        type: array
        items: 
          type: string
          description: URLs for multiple images
        description: An array of image URLs
      quantity:
        type: integer
        format: int32
        description: Null if product is not in user's cart. Otherwise, tracks the total quantity of the item in the cart. 
      cartId: 
        type: string
        description: Null if product is not in user's cart. Otherwise, gives a unique identifier to a product in the cart so that multiples of the same product can be added with their own unique quantities.
  Brand:
    type: object
    properties:
      id:
        type: string
        description: >-
          The unique identifier given to the brand
      name:
        type: string
        description: The name of the brand
  User:
    type: object
    properties:
      gender:
        type: string
        description: Gender of the user.
      cart:
        type: array
        items: 
          $ref: '#/definitions/Product'
        description: Items in the user's cart.
      name:
        type: object
        properties: 
          title: 
            type: string
            description: User's title.
          first: 
            type: string
            description: User's first name.
          last:
            type: string
            description: User's last name.
      location: 
        type: object 
        properties:
          street:
            type: string
            description: User's street address.
          city:
            type: string
            description: User's city.
          state:
            type: string
            description: User's state.
          postcode:
            type: string
            description: User's postcode.
      email:
        type: string
        description: User's email.
      login:
        type: object
        properties:
          username:
            type: string 
            description: User's username
          password: 
            type: string 
            description: User's password
          salt:
            type: string 
            description: User's salt
          md5:
            type: string 
            description: User's md5
          sha1:
            type: string 
            description: User's sha1
          sha256:
            type: string 
            description: User's sha256
      dob: 
        type: string
        description: User's date of birth in format YYYY-MM-DD HH:MM:SS.
      phone: 
        type: string
        description: User's phone in format ###-###-####.
      cell: 
        type: string
        description: User's cell in format ###-###-####.
      picture: 
        type: object
        properties:
          large:
            type: string
            description: Large photo URL.
          medium: 
            type: string
            description: Medium photo URL.
          thumbnail: 
            type: string
            description: Thumbnail photo URL.
      nat:
        type: string
        description: Two-letter country code indicating user's nationality.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
