.seperator {
  font-size: x-large;
}


.articles {
  font-size: 14px;
  border: 0.5px solid gray;
  margin-top: 3px;
  width: 80%
}

.brands {
  border: 0.5px solid gray;
  width: 80%
}

.cart {
  font-size: 14px;
}

.product-item {
  width: 80%
}

.product-card {
  border: 0.5px solid gray
}