swagger: '2.0'
info:
  title: Sunglasses API
  description: An API to support the Sunglasses platform
  version: 1.0.0
host: api.sunglasses.io
schemes:
  - https
basePath: /v1
produces:
  - application/json
paths:
  /brands:
    get:
      tags:
        - Brands
      summary: Search all brands by query string, return all if no query
      description: ""
      parameters:
        - name: query
          in: query
          description: Search query string
          required: false
          type: string
      responses:
        '200':
          description: An array of brands
          schema:
            type: array
            items:
              $ref: '#/definitions/Brand'
        '404':
          description: No brands found in database according to specifications
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /brands/{id}/products:
    get:
      tags: Brands
      summary: Get all products belonging to a brand by categoryId
      description: ""
      parameters:
        - name: id
          in: path
          description: The categoryId of the products to send back
          required: true
          type: string
      responses:
        '200':
          description: An array of products with the same brand id
          schema:
            type: array
            items:
              $ref: '#/definitions/Brand'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /products
  /login
  /me/cart
    get:
    post:
  /me/cart/:productId
    delete:
    post:

definitions:
  Product:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier for a product.
      categoryId:
        type: string
        description: The id of the category this product belongs to.
      name:
        type: string
        description: The name of the product.
      description:
        type: string
        description: Description of product.
      price:
        type: number
        format: double
        description: The price of a given product
      imageURL:
        type: string
        description: The URL for the image representing the product
  Brand:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier for a brand.
      name:
        type: string
        description: The name of the brand of sunglasses.

  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string