swagger: '2.0'
info:
  title: Sunglasses API
  description: An API to support the sunglasses platform
  version: 1.0.0
host: sunglasses.io
schemes:
  - https
basePath: /api
produces:
  - application/json
paths:
  /products:
    get:
      summary: Products
      description: |
        The Products endpoint allows you to search products based on a search string or product id, with ability to limit results, by default returns all products
      parameters:
        - name: query
          in: query
          description: Search query string
          required: false
          type: string
        - name: productId
          in: query
          description: The id of product to find  
          required: false
          type: string
      tags:
        - Products
      responses:
        '200':
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /login:
    post:
      tags:
        - User
      summary: Login
      description: 'Logs user into the system'
      parameters:
        - name: username
          in: query
          description: The username for login
          required: true
          type: string
        - name: password
          in: query
          description: The password for login 
          required: true
          type: string
      responses:
        '200':
          description: Successfully logged in
          schema:
            type: string
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /me/cart:
    get:
      summary: View shopping cart
      description: |
        This endpoint allows user to view the current state of their shopping cart
      tags:
        - Cart
      responses:
        '200':
          description: View cart is successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Add to cart
      description: |
        This endpoint allows user to add products to shopping cart
      parameters:
        - name: productId
          in: query
          description: The id of the product to add
          required: true
          type: string
      tags:
        - Cart
      responses:
        '200':
          description: Add to cart is successful
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /me/cart/{productId}:
    delete:
      summary: Delete from cart
      description: |
        This endpoint allows user to delete product from shopping cart
      parameters:
        - name: productId
          in: path
          description: The id of the product to delete
          required: true
          type: string
      tags:
        - Cart
      responses:
        '200':
          description: Delete is successful
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Change quantity
      description: |
        This endpoint allows user to change quantity of product in shopping cart
      parameters:
        - name: productId
          in: path
          description: The id of the product to edit
          required: true
          type: string
        - name: quantity
          in: query
          description: The 
          required: true
          type: number
      tags:
        - Cart
      responses:
        '200':
          description: Update is successful
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /brands:
    get:
      summary: All brands
      description: >
        The Brands endpoint returns list of all brands available for browsing
      tags:
        - Brands
      responses:
        '200':
          description: An array of brands
          schema:
            type: array
            items:
              $ref: '#/definitions/Brand'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /brands/{brandId}/products:
    get:
      summary: Products in Brand
      description: >
        All of the products of a given brand
      parameters:
        - name: brandId
          in: path
          description: The id of the brand to search for products in.
          required: true
          type: string
      tags:
        - Brands
      responses:
        '200':
          description: An array of products of the specified brand
          schema:
            type: array
            items:
              $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Product:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier for a product.
      categoryId:
        type: string
        description: The id of the category this product belongs to.
      description:
        type: string
        description: Description of product.
      price:
        type: integer
        format: int32
        description: The price of product
      imageURL:
        type: string
        description: The URL for the image representing the product
  Brand:
    type: object
    properties:
      id:
        type: string
        description: The unique identifier given to the brand
      name:
        type: string
        description: The name of the brand
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string