swagger: "2.0"
info:
  description: This is a sunglasses store server.
  version: "1.0.0"
  title: Swagger Sunglasses 2.0
host: api.sunglasses.com
schemes:
  -http
basePath: /api
produces: 
  -application/json
paths:
  /brands:
    get:
      summary: Lists all brands of sunglasses
      description: |
        The brands endpoints returns all the brands of sunglasses
      tags: brands
      parameters:
        name: brand
        in: query
        description: brands available for filtering
        required: true
        type: string
      responses:
        "200":
          description: array of brands
          schema:
          type: array
          items:
          $ref: "#/definitions/Brands"
        "default":
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
  /api/brands/:id/products:
    get:
    summary: sunglasses from a specific brand based on id
    descriptions: |
      The endpoint displays products from a selected brand
    tags: brand id
    parameters:
      name: brand id
      in: path
      description: id of brand selected to display
      required: true
      type: string
    responses:
      "200":
        description: all products of selected brand id
        schema:
        type: array
        items:
        $ref: "#/definitions/brands/products"
      "default":
          description: Unexpected error
          schema:
          $ref: "#/definitions/Error"
  /products
    get:
    summary: all products
    descriptions: |
      The endpoint displays all products
    tags: products
    parameters:
      name: product
      in: path
      description: all products
      required: true
      type: string
    responses:
      "200":
        description: success
        schema:
        $ref: "#/definitions/Products"
      "default":
          description: Unexpected error
          schema:
          $ref: "#/definitions/Error"
  /login
    post:
    summary: user login
    description: |
      a user can login to account
    tags: login
    parameters:
      name: username
      in: body
      description: login credentals entered
      required: false
    responses: 
      "200":
        description: user login
        schema:
        $ref: "#/definitions/Login"
      "400":
        description: invalid username/password
        schema:
        $ref: "#/definitions/Error"
  /me/cart
    get:
    summary: user's cart
    description: |
      user can view their cart
    tags: cart
    responses:
      "200":
        description: user cart
        schema:
        $ref: "#/definitions/me/Cart"
      "default":
          description: Unexpected error
          schema:
          $ref: "#/definitions/Error"
        






